<br>
<div class="search-box">

  <input
    type="text"
    placeholder="Search by title"
    [(ngModel)]="title"
  />
  <button class="btn-search" (click)="searchTitle()">Search</button>
</div>
<br>
<div class="list-container">
    <div class="list-section">
      <h2 style="margin-left: 280px;   color: #0073e6;">Tutorials List</h2>
      <ul class="tutorial-list">
        <li
          *ngFor="let tutorial of tutorials; let i = index"
          [class.active]="i === currentIndex"
          (click)="setActiveTutorial(tutorial, i)">
          {{ tutorial.title }}
        </li>
      </ul>
      <button class="btn-remove-all" (click)="removeAllTutorials()">
        Remove All
      </button>
    </div>
    <div class="details-section">
      <app-tutorialdetails
        [viewMode]="true"
        [currentTutorial]="currentTutorial">
      </app-tutorialdetails>
    </div>
  </div>
  